<form class="name">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>User</mat-label>
      <input mat-fab placeholder="Ex. Gustavo">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input mat-icon-button placeholder="Ex. @123abc">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input matInput placeholder="Ex. gustavo@teste.com">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>CEP</mat-label>
      <input matInput placeholder="Ex. 00000-000">
    </mat-form-field>
    <button class="button-cep" mat-flat-button color="accent">Buscar CEP</button> 
  </div>
  
  <div>
    <button mat-flat-button color="accent">Accent</button>
  </div>
</form>