<form class="busca-produto">

  <mat-form-field>
    <mat-label>Codigo Produto</mat-label>
    <input matInput 
    placeholder="Ex. 123456" 
    #searchInput (keyup.enter)="getProductById(convertToNumber(searchInput.value))">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descricao Resumida</mat-label>
    <input matInput [(ngModel)]="produto.descricaoresumida" name="descricaoResumida">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descricao Completa</mat-label>
    <input matInput [(ngModel)]="produto.descricaocompleta" name="descricaoCompleta">
  </mat-form-field>

</form>
