<form class="busca-produto" #productForm="ngForm">
    <div>
      <mat-form-field>
        <mat-label>Codigo Produto</mat-label>
        <input matInput placeholder="Ex. 123456" [(ngModel)]="codProdutoValue" name="codProduto">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Descricao Resumida</mat-label>
        <input matInput placeholder="Ex. Teclado Gamer" [(ngModel)]="descricaoResumidaValue" name="descricaoResumida">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Descricao Completa</mat-label>
        <input matInput placeholder="Ex. Teclado Gamer Mecanico HyperX" [(ngModel)]="descricaoCompletaValue" name="descricaoCompleta">
      </mat-form-field>
    </div>
  
    <div>
      <button class="home" routerLink="">Menu Inicial</button>
      <button class="create" routerLink="" (click)="createNewProduct(productForm)">Criar Novo Produto</button>
    </div>
  
  </form>
  